// Estilos componente Home

.home-container {
    display: flex;
    justify-content: center;

    img {
        height: 100vh;
    }
    .start-btn {
        position: absolute;
        z-index: 1;
        top: 60%;
        padding: 10px 30px 10px 30px;
        font-size: 20px;
        text-decoration: none;
        background-color: rgba(215, 245, 250, 0.884);
        color: black;
        border-radius: 40px;
        box-shadow: 0px 4px 8px gray;
        
        &:hover {
            background-color: rgba(255, 221, 0, 0.836);
        }
        &:active {
            top: 62%;
        }
    }

    @media (max-width: 480px) {
        img {
            width: 100vw;
        }
    }
}