// Estilos componente MuteButton

.mute-btn {
    background-color: transparent;
    color: aliceblue;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 37%;

    img {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        width: 40px;
        height: auto;
        border-radius: 100%;
    }

    &.muted img {
        border: 2px solid rgb(202, 202, 202);
    }
    &:focus img {
        border: 1px solid black;
    }

    @media (max-width: 420px) {
        left: 5%;
    }
}